<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.eventoseartigos.sefd">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UsuarioFormActivity"
            android:label="@string/activity_criar_conta"
            android:parentActivityName=".activity.LoginActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.eventoseartigos.sefd.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.InscricaoActivity"
            android:label="@string/title_activity_inscricao"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.eventoseartigos.sefd.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.InscricaoDetalhesActivity"
            android:label="@string/title_activity_inscricao_detalhes"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.eventoseartigos.sefd.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.CertificadoActivity"
            android:label="@string/title_activity_certificado"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.eventoseartigos.sefd.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ConfiguracaoActivity"
            android:label="@string/title_activity_configuracao"
            android:parentActivityName=".activity.MainActivity">>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.eventoseartigos.sefd.activity.MainActivity" />
        </activity>
    </application>

</manifest>